.container-xxl {
    display: flex;
}

/*navbar style*/
.logo {
    height: 50px;
    width: 50px;
}

.navbar .nav-link {
    font-size: 1rem;
    color: black;
}

.navbar-brand {
    color: black;
}

.navbar-nav {
    /*justify-content: center;*/
}

.navbar-collapse {
    flex: none !important;
    flex-grow: revert;
}

.btnArea {
    margin-right: 100px;
}

.btn {
    cursor: pointer;
}

/*hero text*/
.txtcolor {
    color: rgb(247, 110, 16);
}

.subtext {
    font-size: 1.5rem;
}

/*Login Page*/
#container2 {
    display: flex;
    background-color: rgb(124, 41, 232);
    height: 100vh;
}
img {
    height: 50px;
    width: 50px;
}
.white-area{
    height: 55%;
    width: auto;
    background-color: white;
    margin: auto;
    padding: 30px 30px;
    justify-content: center;
    border-radius: 5%;
}
#container2 .white-area {
    display: block;
}
/*.btn{*/
/*    color: rgb(124, 41, 232);*/
/*}*/
